{% extends "bank/base.html" %}
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Credit{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/detail.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    <button class="back" onclick="window.location.href='/bank/credit_statement/'">Назад</button>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" id="credit_state_id" name="credit_state_id" value="{{ credit_statement_item.id }}">

        <div class="field-container">
            <label for="id_number_of_the_loan_agreement">Номер кредитного договора:</label>
            <input type="text" name="my_field_number_of_the_loan_agreement" id="id_number_of_the_loan_agreement"
                value="{{ credit_statement_item.number_of_the_loan_agreement }}" readonly required>
            <span class="error-message" id="number-error"></span>
        </div>

        <div class="field-container">
            <label for="id_credit_amount">Сумма кредита:</label>
            <input type="text" name="my_field_credit_amount" id="id_credit_amount"
                value="{{ credit_statement_item.credit_amount }}" readonly required>
            <span class="error-message" id="amount-error"></span>
        </div>

        <div class="field-container">
            <label for="id_term_month">Срок кредита (мес.):</label>
            <input type="text" name="my_term_month" id="id_term_month"
                value="{{ credit_statement_item.term_month }}" readonly required>
            <span class="error-message" id="month-error"></span>
        </div>

        <div class="field-container">
            <label for="id_monthly_payment">Ежемесячный платеж:</label>
            <input type="text" name="my_field_monthly_payment" id="id_monthly_payment"
                   value="{{ credit_statement_item.monthly_payment }}" readonly required>
            <span class="error-message" id="payment-error"></span>
        </div>

        <div class="field-container">
            <label for="id_loan_opening_date">Дата открытия кредита:</label>
            <input type="text" name="my_field_loan_opening_date" id="id_loan_opening_date"
                value="{{ credit_statement_item.loan_opening_date|date:"Y-m-d" }}" readonly required>
            <span class="error-message" id="open_date-error"></span>
        </div>

        <div class="field-container">
            <label for="id_repayment_status">Статус погашения кредита:</label>
            <input type="text" name="my_field_repayment_status" id="id_repayment_status"
                   value="{{ credit_statement_item.repayment_status|yesno:"Да,Нет" }}" readonly required>
            <span class="error-message" id="repayment-error"></span>
        </div>

        <div class="field-container">
            <label for="id_loan_type">Тип кредита:</label>
            <input type="text" name="my_field_loan_type" id="id_loan_type"
                   value="{{ credit_statement_item.loan_type.registration_number }}" readonly required>
            <span class="error-message" id="loanType-error"></span>
        </div>

        <div class="field-container">
            <label for="id_client">Клиент:</label>
            <input type="text" name="my_field_client" id="id_client"
                value="{{ credit_statement_item.client.passport_serial_number }}" readonly required>
            <span class="error-message" id="client-error"></span>
        </div>

        <div class="button-group">
            <div data-update-url="{% url 'bank:update-credit-statement' %}"></div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="{% static 'js/update_credit_statement.js' %}"></script>
<!--            <button type="submit" class="save_button">Сохранить изменения</button>-->
            <button type="submit" class="delete-client">Удалить запись</button>
        </div>
    </form>
    {% endblock %}

</body>
</html>
