{% extends "bank/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Credit{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/detail.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="id_loan_repayment_number">Номер закрытия вклада:</label>
        <input type="text" name="my_field_loan_repayment_number" id="id_loan_repayment_number"
               value="{{ credit_statement_item.loan_repayment_number }}" required><br>
        <br />

        <label for="id_loan_issuance_date">Дата открытия вклада:</label>
        <input type="text" name="my_field_loan_issuance_date" id="id_loan_issuance_date"
               value="{{ credit_statement_item.loan_issuance_date }}" required><br>
        <br />

        <label for="id_loan_repayment_date">Дата закрытия вклада:</label>
        <input type="text" name="my_field_loan_repayment_date" id="id_loan_repayment_date"
               value="{{ credit_statement_item.loan_repayment_date }}" required><br>
        <br />

        <label for="id_redemption_status">Статус закрытия вклада:</label>
        <input type="text" name="my_field_redemption_status" id="id_redemption_status"
               value="{{ credit_statement_item.redemption_status }}" required><br>
        <br />

        <label for="id_client_code">Код клиента:</label>
        <input type="text" name="my_field_client_code" id="id_client_code"
               value="{{ credit_statement_item.client_code.client_code }}" required><br>
        <br />

        <label for="id_credit_code">Код вклада:</label>
        <input type="text" name="my_field_credit_code" id="id_credit_code"
               value="{{ credit_statement_item.credit_code.credit_code }}" required><br>
        <br />

        <label for="id_credit_type_code">Код типа вклада:</label>
        <input type="text" name="my_field_credit_type_code" id="id_credit_type_code"
               value="{{ credit_statement_item.credit_type_code.credit_type_code }}" required><br>
        <br />

        <div class="button-group">
            <button type="submit" class="save_button">Сохранить изменения</button>
            <button type="submit" class="delete-client">Удалить запись</button>
        </div>
    </form>
    {% endblock %}

</body>
</html>
