{% extends "bank/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My bank{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/list.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div data-delete-url="{% url 'bank:delete-credit-statement' %}"></div>
        <div class="buttons-table-choose">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="{% static 'js/checkboxes.js' %}"></script>
            <div class="buttons">
                <button class="add-button" type="submit">Добавить запись</button>
                <button class="delete-button" type="submit">Удалить выбранное</button>
            </div>
            <script src="{% static 'js/script.js' %}"></script>
            <select class="select-table" onchange="handleChange(this)">
                <option value="{% url 'bank:credit_statement_list' %}">Кредитная ведомость</option>
                <option value="{% url 'bank:credit_types_list' %}">Типы кредитов</option>
                <option value="{% url 'bank:clients_list_select' %}">Клиенты</option>
                <option value="{% url 'bank:payroll_list' %}">Платежная ведомость</option>
            </select>
        </div>
        <table class="clients-table">
            <thead class="table-thead">
                <tr>
                    <th>Выбрать</th>
                    <th>Номер погашения кредита</th>
                    <th>Сумма кредита</th>
                    <th>Срок погашения (мес.)</th>
                    <th>Ежемесячный платеж</th>
                    <th>Дата открытия кредита</th>
                    <th>Статус погашения</th>
                    <th>Тип кредита</th>
                    <th>Паспортные данные клиента</th>
                </tr>
            </thead>
            <tbody class="table-body">
                {% for credit_statement_item in credit_statement %}
                    <tr>
                        <td align="center"><input type="checkbox" name="table-checkbox" value="{{ credit_statement_item.id }}"></td>
                        <td align="center"><a href="{{ credit_statement_item.get_absolute_url }}">{{ credit_statement_item.number_of_the_loan_agreement }}</a></td>
                        <td align="center">{{ credit_statement_item.credit_amount }}</td>
                        <td align="center">{{ credit_statement_item.term_month }}</td>
                        <td align="center">{{ credit_statement_item.monthly_payment }}</td>
                        <td align="center">{{ credit_statement_item.loan_opening_date }}</td>
                        <td align="center">
                            {% if credit_statement_item.repayment_status == 1 %}
                                Да
                            {% else %}
                                Нет
                            {% endif %}
                        </td>
                        <td align="center"><a href="{{ credit_statement_item.loan_type.get_absolute_url }}">{{ credit_statement_item.loan_type.registration_number }}</a></td>
                        <td align="center"><a href="{{ credit_statement_item.client.get_absolute_url }}">{{ credit_statement_item.client.passport_serial_number }}</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">Нет данных о ведомости по вкладам.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            {% include "pagination.html" with page=page_obj %}
        {% endif %}
    {% endblock %}
</body>
</html>




