{% extends "bank/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My bank{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/list.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="buttons-table-choose">
            <div class="buttons">
                <button class="add-button" type="submit">Добавить запись</button>
                <button class="delete-button" type="submit">Удалить запись</button>
            </div>
            <script src="{% static 'js/script.js' %}"></script>
            <select class="select-table" onchange="handleChange(this)">
                <option value="{% url 'bank:deposit_list' %}">CreditStatement</option>
                <option value="{% url 'bank:credit_statement_list' %}">Deposits</option>
                <option value="{% url 'bank:statement_of_deposits_list' %}">StatementOfDeposits</option>
                <option value="{% url 'bank:deposit_types_list' %}">DepositTypes</option>
                <option value="{% url 'bank:credit_types_list' %}">CreditType</option>
                <option value="{% url 'bank:credit_list' %}">Credits</option>
                <option value="{% url 'bank:clients_list_select' %}">Clients</option>
            </select>
        </div>
        <table class="clients-table">
            <thead class="table-thead">
                <tr>
                    <th>Выбрать</th>
                    <th>Номер погашения кредита</th>
                    <th>Дата выдачи кредита</th>
                    <th>Дата погашения кредита</th>
                    <th>Статус погашения</th>
                    <th>Код клиента</th>
                    <th>Код кредита</th>
                    <th>Код типа кредита</th>
                </tr>
            </thead>
            <tbody class="table-body">
                {% for credit_statement_item in credit_statement %}
                    <tr>
                        <td align="center"><input type="checkbox" name="table-checkbox" value=""></td>
                        <td align="center"><a href="{{ credit_statement_item.get_absolute_url }}">{{ credit_statement_item.loan_repayment_number }}</a></td>
                        <td align="center">{{ credit_statement_item.loan_issuance_date }}</td>
                        <td align="center">{{ credit_statement_item.loan_repayment_date }}</td>
                        <td align="center">{{ credit_statement_item.redemption_status }}</td>
                        <td align="center">{{ credit_statement_item.client_code.client_code }}</td>
                        <td align="center">{{ credit_statement_item.credit_code.credit_code }}</td>
                        <td align="center">{{ credit_statement_item.credit_type_code.credit_type_code }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">Нет данных о ведомости по вкладам.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            {% include "pagination.html" with page=page_obj %}
        {% endif %}
    {% endblock %}
</body>
</html>




