{% extends "bank/base.html" %}
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Credit{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/detail.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    <button class="back" onclick="window.location.href='/bank/credit_types/'">Назад</button>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" id="credit_type_id" name="credit_type_id" value="{{ credit_type.id }}">

        <label for="id_credit_type_code">Регистрационный номер типа кредита:</label>
        <input type="text" name="my_field_credit_type_code" id="id_credit_type_code"
               value="{{ credit_type.registration_number }}" readonly required><br>
        <br />

        <label for="id_credit_type_name">Название:</label>
        <input type="text" name="my_field_credit_type_name" id="id_credit_type_name"
               value="{{ credit_type.name_of_the_type }}" required><br>
        <br />

        <label for="id_credit_percent">Процентная ставка:</label>
        <input type="text" name="my_field_credit_percent"
               id="id_credit_percent" value="{{ credit_type.interest_rate }}" required><br>
        <br />


        <div class="button-group">
            <div data-update-url="{% url 'bank:update-credit-type' %}"></div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="{% static 'js/update_loan_types.js' %}"></script>
            <button type="submit" class="save_button">Сохранить изменения</button>
            <button type="submit" class="delete-client">Удалить запись</button>
        </div>

    </form>
    {% endblock %}

</body>
</html>
