{% extends "bank/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Credit{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/detail.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="id_credit_type_code">Код типа кредита:</label>
        <input type="text" name="my_field_credit_type_code" id="id_credit_type_code" value="{{ credit_type.credit_type_code }}" required><br>
        <br />

        <label for="id_credit_type_name">Название:</label>
        <input type="text" name="my_field_credit_type_name" id="id_credit_type_name" value="{{ credit_type.credit_type_name }}" required><br>
        <br />

        <label for="id_credit_percent">Процентная ставка:</label>
        <input type="text" name="my_field_credit_percent"
               id="id_credit_percent" value="{{ credit_type.credit_percent }}" required><br>
        <br />


        <div class="button-group">
            <button type="submit" class="save_button">Сохранить изменения</button>
            <button type="submit" class="delete-client">Удалить запись</button>
        </div>

    </form>
    {% endblock %}

</body>
</html>
