{% extends "bank/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My bank{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/list.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div data-delete-url="{% url 'bank:delete-credit-type' %}"></div>
        <div class="buttons-table-choose">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="{% static 'js/checkboxes.js' %}"></script>
            <div class="buttons">
                <button class="add-button" type="submit">Добавить запись</button>
                <button class="delete-button" type="submit">Удалить выбранное</button>
            </div>
            <script src="{% static 'js/script.js' %}"></script>
            <select class="select-table" onchange="handleChange(this)">
                <option value="{% url 'bank:credit_types_list' %}">Типы кредитов</option>
                <option value="{% url 'bank:clients_list_select' %}">Клиенты</option>
                <option value="{% url 'bank:credit_statement_list' %}">Кредитная ведомость</option>
                <option value="{% url 'bank:payroll_list' %}">Платежная ведомость</option>
            </select>
        </div>
        <table class="clients-table">
            <thead class="table-thead">
                <tr>
                    <th>Выбрать</th>
                    <th>Регистрационный номер типа кредита</th>
                    <th>Название</th>
                    <th>Процентная ставка</th>
                </tr>
            </thead>
            <tbody class="table-body">
                {% for credit_type in credit_types %}
                    <tr>
                        <td align="center"><input type="checkbox" name="table-checkbox" value="{{ credit_type.id }}"></td>
                        <td align="center"><a href="{{ credit_type.get_absolute_url }}">{{ credit_type.registration_number }}</a></td>
                        <td align="center">{{ credit_type.name_of_the_type }}</td>
                        <td align="center">{{ credit_type.interest_rate }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">Нет данных о типах кредитов.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            {% include "pagination.html" with page=page_obj %}
        {% endif %}
    {% endblock %}
</body>
</html>




