{% extends "bank/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Credit{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/detail.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="id_credit_code">Код кредита:</label>
        <input type="text" name="my_field_credit_code" id="id_credit_code" value="{{ credit.credit_code }}" readonly required><br>
        <br />

        <label for="id_credit_amount">Величина кредита:</label>
        <input type="text" name="my_field_credit_amount" id="id_credit_amount" value="{{ credit.credit_amount }}" required><br>
        <br />

        <label for="id_term_month">Срок кредита (мес.):</label>
        <input type="text" name="my_field_term_month" id="id_term_month" value="{{ credit.term_month }}" required><br>
        <br />

        <label for="id_monthly_payment_amount">Ежемесячная плата:</label>
        <input type="text" class="adress-monthly_payment_amount" name="my_field_monthly_payment_amount"
               id="id_monthly_payment_amount" value="{{ credit.monthly_payment_amount }}" required><br>
        <br />


        <div class="button-group">
            <button type="submit" class="save_button">Сохранить изменения</button>
            <button type="submit" class="delete-client">Удалить запись</button>
        </div>

    </form>
    {% endblock %}

</body>
</html>



