{% extends "bank/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Credit{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/detail.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="id_loan">Кредит:</label>
        <input type="text" name="my_field_loan" id="id_loan"
               value="{{ payroll.loan.number_of_the_loan_agreement }}"
               readonly required><br>
        <br />

        <label for="id_payment_date">Величина кредита:</label>
        <input type="text" name="my_field_payment_date" id="id_payment_date"
               value="{{ payroll.payment_date }}" required><br>
        <br />

        <label for="id_payment_status">Срок кредита (мес.):</label>
        <input type="text" name="my_field_payment_status" id="id_payment_status"
               value="{{ payroll.payment_status }}" required><br>
        <br />


        <div class="button-group">
            <button type="submit" class="save_button">Сохранить изменения</button>
            <button type="submit" class="delete-client">Удалить запись</button>
        </div>

    </form>
    {% endblock %}

</body>
</html>



