{% extends "bank/base.html" %}
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My bank{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/about_page.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}

        <div class="container_table">
            <div class="rectangle">
                <h1>О приложении</h1>
                <p>MyBank - система для оценки платежеспособности заемщика. Она хранит данные банковской организации</p>
                <p>для их последующей обработки и анализа, ускоряя процесс принятия решения по заявке на кредит от заемщика.</p>
                <h2>Меню</h2>
                <p>Для облегчения навигации в приложении используются верхнее и боковое меню, используемые для перехода</p>
                <p>между вкладками изображения.</p>
                <h3>Личный кабинет</h3>
                <p>Приложение обеспечивает разделение обязанностей администратора системы и остальных пользователей.</p>
                <p>Администратору доступно управление всеми пользователями (предоставление им прав администратора,</p>
                <p>активация пользователя, изменение фамилии и имени). Также администратору доступна функция добавления</p>
                <p>нового пользователя в систему. Остальным пользователям доступен весь функционал системы, кроме управления</p>
                <p>пользователями.</p>
                <h3>Таблицы</h3>
                <p>Раздел "Таблицы" позволяет управлять записями из базы данных банковской системы: удалять, добавлять,</p>
                <p>просматривать и изменять их.</p>
                <h3>Заявки</h3>
                <p>В разделе заявки регистрируются новые заявки на кредит от заемщиков. Система оценивает клиента по его</p>
                <p>данным и принимает решение об одобрении/отклонении его заявки. Пользователю предоставляется результат работы</p>
                <p>системы и рекомендации по заявке, после чего пользователь самостоятельно принимает решение.</p>
                <p>При утверждении заявки пользователем, она автоматически добавляется в данные банковской организации.</p>
                <h3>Отчеты</h3>
                <p>Раздел "Отчеты" позволяет сформировывать отчеты, содержащие таблицы с данными, а также графики,</p>
                <p>позволяющие визуализировать данные для анализа.</p>
            </div>
        </div>
    {% endblock %}
</body>
</html>>




