<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My bank{% endblock %}</title>
    <link href="{% static 'bank/mainpage.css' %}" rel="stylesheet">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <header class="site-header">
    <div class="container">
        <div class="header-content"> <!-- Общий контейнер для заголовка и навигации -->
            <div class="title_line_search">
                <img src="{% static 'images/MyBank.png' %}" alt="Мой банк" class="main_label">
                <div class="vertical-line"></div>

                <search class="search-string">
                    <form method="post" action="{% url 'bank:search_clients' %}" id="search-form">
                        {% csrf_token %}
                        <input type="search" name="search_query" placeholder="Паспорт клиента">
                        <button type="submit">Найти</button>
                    </form>
                </search>
            </div>

            <nav> <!-- Навигация -->
                <ul>
                    <li><a href="#">О приложении</a></li>
                    <li><a href="#">Помощь</a></li>
                    <li><a href="{% url 'bank:personal_account' %}">Личный кабинет</a></li>
                </ul>
            </nav>
        </div>
    </div>
    </header>

    <div class="wrapper">
        <aside class="side-menu">
            <ul>
                <li><a href="{% url 'bank:clients_list_select' %}">Таблицы</a></li>
                <li><a href="#">Заявки</a></li>
                <li><a href="#">Отчеты</a></li>
            </ul>
        </aside>
        <main class="content">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
</body>
</html>