{% extends "bank/base.html" %}
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My bank{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/about_page.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}

        <div class="container_table">
        <div class="rectangle">
            <h1>Как связаться с поддержкой?</h1>
            <p>При возникновении трудностей при использовании приложения отправьте электронное письмо на <a href="https://mail.yandex.ru/compose?to=sivlasova@hse.edu.ru" target="_blank">sivlasova@hse.edu.ru</a> с подробным описанием вашей проблемы.</p>
        </div>
    </div>
    {% endblock %}
</body>
</html>>




