<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>{% block title %}My bank login{% endblock %}</title>
    <link href="{% static 'bank/login.css' %}" rel="stylesheet">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <div class="image_label">
        <img src="{% static 'images/label_login.png' %}" alt="Мой банк" class="main_label">
    </div>
    <div class="container">
        <div class="login_rectangle">
            <h1 class="login_title">Вход</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Войти</button>
            </form>
        </div>
    </div>
</body>
</html>