{% extends "bank/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Client{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/detail.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    <form method="post">
        {% csrf_token %}

        <label for="id_client_code">Код клиента:</label>
        <input type="text" name="my_field_client_code" id="id_client_code" value="{{ client.client_code }}" readonly required><br>
        <br />

        <label for="id_familia">Фамилия:</label>
        <input type="text" name="my_field_familia" id="id_familia" value="{{ client.familia }}" required><br>
        <br />

        <label for="id_name">Имя:</label>
        <input type="text" name="my_field_name" id="id_name" value="{{ client.name }}" required><br>
        <br />

        <label for="id_adress">Адрес:</label>
        <input type="text" class="adress-label" name="my_field_adress" id="id_adress" value="{{ client.adress }}" required><br>
        <br />

        <label for="id_phone">Номер телефона:</label>
        <input type="text" name="my_field_phone" id="id_phone" value="{{ client.phone_number }}" required><br>
        <br />

        <label for="id_age">Возраст:</label>
        <input type="text" name="my_field_age" id="id_age" value="{{ client.age }}" required><br>
        <br />

        <label for="id_presence_absence_of_a_car">Наличие автомобиля:</label>
        <input type="text" name="my_field_presence_absence_of_a_car" id="id_presence_absence_of_a_car"
               value="{{ client.presence_absence_of_a_car }}" required><br>
        <br />

        <label for="id_presence_absence_of_real_estate">Наличие недвижимости:</label>
        <input type="text" name="my_field_presence_absence_of_real_estate" id="id_presence_absence_of_real_estate"
               value="{{ client.presence_absence_of_real_estate }}" required><br>
        <br />

        <label for="id_month_income">Доход в месяц:</label>
        <input type="text" name="my_field_month_income" id="id_month_income" value="{{ client.month_income }}" required><br>
        <br />

        <div class="button-group">
            <button type="submit" class="save_button">Сохранить изменения</button>
            <button type="submit" class="search-client-statement">Найти данные по вкладам и кредитам</button>
            <button type="submit" class="delete-client">Удалить запись</button>
        </div>

    </form>
    {% endblock %}

</body>
</html>



