{% extends "bank/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My bank{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/list.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div data-delete-url="{% url 'bank:delete_clients' %}"></div>
        <div class="buttons-table-choose">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="{% static 'js/checkboxes.js' %}"></script>
            <div class="buttons">
                <button class="add-button" onclick="window.location.href='{% url 'bank:client_add_detail' %}'">
                    Добавить запись
                </button>
                <button class="delete-button" type="submit" title="Для удаления необходимо выбрать записи в таблице">
                    Удалить выбранное
                </button>
            </div>
            <script src="{% static 'js/script.js' %}"></script>
            <select class="select-table" onchange="handleChange(this)">
                <option value="{% url 'bank:clients_list_select' %}">Клиенты</option>
                <option value="{% url 'bank:credit_statement_list' %}">Кредитная ведомость</option>
                <option value="{% url 'bank:credit_types_list' %}">Типы кредитов</option>
                <option value="{% url 'bank:payroll_list' %}">Платежная ведомость</option>
            </select>
        </div>
        <table class="clients-table">
            <thead class="table-thead">
                <tr>
                    <th>Выбрать</th>
                    <th>Паспортные данные</th>
                    <th>ФИО</th>
                    <th>Адрес</th>
                    <th>Номер телефона</th>
                    <th>Возраст</th>
                    <th>Пол</th>
                    <th>Наличие автомобиля</th>
                    <th>Наличие недвижимости</th>
                    <th>Доход в месяц</th>
                    <th>Кол-во детей</th>
                    <th>Образование</th>
                </tr>
            </thead>
            <tbody class="table-body">
                {% for client in clients %}
                    <tr>
                        <td align="center"><input type="checkbox" name="table-checkbox" value="{{ client.id }}"></td>
                        <td align="center"><a href="{{ client.get_absolute_url }}">{{ client.passport_serial_number }}</a></td>
                        <td>{{ client.surname }} {{ client.name }} {{ client.patronymic }}</td>
                        <td>{{ client.adress }}</td>
                        <td align="center">{{ client.phone_number }}</td>
                        <td align="center">{{ client.age }}</td>
                        <td align="center">{{ client.sex }}</td>
                        <td align="center">
                            {% if client.flag_own_car == 1 %}
                                Да
                            {% else %}
                                Нет
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if client.flag_own_property == 1 %}
                                Да
                            {% else %}
                                Нет
                            {% endif %}
                        </td>
                        <td align="center">{{ client.month_income }}</td>
                        <td align="center">{{ client.count_children }}</td>
                        <td align="center">{{ client.education_type }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">Нет данных о клиентах.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            {% include "pagination.html" with page=page_obj %}
        {% endif %}
    {% endblock %}
</body>
</html>




