{% extends "bank/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Credit{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/detail.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="id_deposit_closing_number">Номер закрытия вклада:</label>
        <input type="text" name="my_field_deposit_closing_number" id="id_deposit_closing_number"
               value="{{ statement_item.deposit_closing_number }}" required><br>
        <br />

        <label for="id_deposit_opening_date">Дата открытия вклада:</label>
        <input type="text" name="my_field_deposit_opening_date" id="id_deposit_opening_date"
               value="{{ statement_item.deposit_opening_date }}" required><br>
        <br />

        <label for="id_deposit_ending_date">Дата закрытия вклада:</label>
        <input type="text" name="my_field_deposit_ending_date" id="id_deposit_ending_date"
               value="{{ statement_item.deposit_ending_date }}" required><br>
        <br />

        <label for="id_deposit_closing_status">Статус закрытия вклада:</label>
        <input type="text" name="my_field_deposit_closing_status" id="id_deposit_closing_status"
               value="{{ statement_item.deposit_closing_status }}" required><br>
        <br />

        <label for="id_client_code">Код клиента:</label>
        <input type="text" name="my_field_client_code" id="id_client_code"
               value="{{ statement_item.client_code.client_code }}" required><br>
        <br />

        <label for="id_deposit_code">Код вклада:</label>
        <input type="text" name="my_field_deposit_code" id="id_deposit_code"
               value="{{ statement_item.deposit_code.deposit_code }}" required><br>
        <br />

        <label for="id_deposit_type_code">Код типа вклада:</label>
        <input type="text" name="my_field_deposit_type_code" id="id_deposit_type_code"
               value="{{ statement_item.deposit_type_code.deposit_type_code }}" required><br>
        <br />

        <div class="button-group">
            <button type="submit" class="save_button">Сохранить изменения</button>
            <button type="submit" class="delete-client">Удалить запись</button>
        </div>
    </form>
    {% endblock %}

</body>
</html>
