{% extends "bank/base.html" %}
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My bank{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/applications.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="buttons">
            <div data-update-url="{% url 'bank:add_new_credit_statement' %}"></div>
            <div data-analysis-url="{% url 'bank:analysis' %}"></div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="{% static 'js/update_credit_statement.js' %}"></script>
            <button class="exit-button" onclick="window.location.href='{% url 'bank:clients_list' %}'">Выйти</button>
            <button class="analysis-button" type="submit"  title="Для обработки заявки необходимо заполнить все поля">Обработать заявку</button>
        </div>
        <div class="head">
            <p class="main">Заполнение новой заявки</p>
            <hr>
        </div>
        <div class="block">
            <div class="circle">
                <span>1</span>
            </div>
            <div class="info">
                <p>Укажите паспортные данные клиента или добавьте нового:</p>
            </div>
        </div>

        <div class="block">
            <div class="field-container">
                <label for="id_client">Паспорт:</label>
                <input type="text" name="my_field_client" id="id_client"
                    value="" required>
            </div>
            <div class="vertical-line"></div>
            <button class="add_new_client" onclick="window.location.href='{% url 'bank:client_add_detail' %}'">Добавить нового клиента</button>
        </div>
        <span class="error-message" id="client-error"></span>

        <div class="block">
            <div class="circle">
                <span>2</span>
            </div>
            <div class="info">
                <p>Заполните кредитную заявку:</p>
            </div>
        </div>

        <div class="field-container">
            <label for="id_number_of_the_loan_agreement">Номер кредитного договора:</label>
            <input type="text" name="my_field_number_of_the_loan_agreement" id="id_number_of_the_loan_agreement"
                value="" required>
            <span class="error-message" id="number-error"></span>
        </div>

        <div class="field-container">
            <label for="id_credit_amount">Сумма кредита:</label>
            <input type="text" name="my_field_credit_amount" id="id_credit_amount"
                value="" required>
            <span class="error-message" id="amount-error"></span>
        </div>

        <div class="field-container">
            <label for="id_term_month">Срок кредита (мес.):</label>
            <input type="text" name="my_term_month" id="id_term_month"
                value="" required>
            <span class="error-message" id="month-error"></span>
        </div>

        <div class="field-container">
            <label for="id_monthly_payment">Ежемесячный платеж:</label>
            <input type="text" name="my_field_monthly_payment" id="id_monthly_payment"
                   value="" required>
            <span class="error-message" id="payment-error"></span>
        </div>

        <div class="field-container">
            <label for="id_loan_opening_date">Дата открытия кредита:</label>
            <input type="text" name="my_field_loan_opening_date" id="id_loan_opening_date"
                value="{{ credit_statement_item.loan_opening_date|date:"Y-m-d" }}" required>
            <span class="error-message" id="open_date-error"></span>
        </div>

        <div class="field-container">
            <input type="text" name="my_field_repayment_status" id="id_repayment_status"
                   value="Нет" style="display:none;">
        </div>

        <div class="field-container">
            <label for="id_loan_type">Тип кредита:</label>
            <input type="text" name="my_field_loan_type" id="id_loan_type"
                   value="" required>
            <span class="error-message" id="loanType-error"></span>
        </div>
    {% endblock %}
</body>
</html>




