{% extends "bank/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Credit{% endblock %}</title>
    {% block extra_styles %}
        <link href="{% static 'bank/detail.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="id_deposit_type_code">Код типа вклада:</label>
        <input type="text" name="my_field_deposit_type_code" id="id_deposit_type_code"
               value="{{ deposit_type.deposit_type_code }}" readonly required><br>
        <br />

        <label for="id_name_of_deposit_type">Название:</label>
        <input type="text" name="my_field_name_of_deposit_type" id="id_name_of_deposit_type"
               value="{{ deposit_type.name_of_deposit_type }}" required><br>
        <br />

      <label for="id_deposit_percent">Процентная ставка:</label>
        <input type="text" name="my_field_deposit_percent" id="id_deposit_percent"
               value="{{ deposit_type.deposit_percent }}" required><br>
        <br />

        <div class="button-group">
            <button type="submit" class="save_button">Сохранить изменения</button>
            <button type="submit" class="delete-client">Удалить запись</button>
        </div>
    </form>
    {% endblock %}

</body>
</html>
