/* Стиль контейнера */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Устанавливаем выравнивание по верхней части */
    min-height: 90vh; /* Делаем контейнер немного больше */
    background-color: white; /* Фон белый */
}

.login_rectangle {
    max-width: 1200px; /* Увеличенный размер прямоугольника */
    padding: 20px; /* Больший отступ внутри прямоугольника */
    background-color: white; /* Цвет фона прямоугольника */
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта глубины */
    flex-direction: column;
}

.login_title {
    margin-bottom: 25px; /* Увеличенный отступ между заголовком и формой */
    color: #333; /* Темный цвет текста */
    font-size: 24px; /* Крупный шрифт для заголовка */
    text-align: center; /* Центрирование содержимого */
}

form p {
    margin-bottom: 12px; /* Немного увеличенные отступы между полями */
}


input[type="text"], input[type="password"], input[type="Email"] { /* Увеличенные размеры полей ввода */
    width: 300px; /* Ширина полей */
    padding: 10px; /* Внутренний отступ полей */
    font-size: 16px; /* Размер шрифта в полях */
    border: 1px solid #ccc; /* Тонкая граница серого цвета */
    border-radius: 5px; /* Округлые углы полей */
}

.button-container {
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

button[type="submit"] {
    padding: 10px 22px; /* Увеличенные размеры кнопки */
    background-color: #007bff; /* Синий цвет кнопки */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 14px; /* Увеличенный размер текста на кнопке */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Более темный синий при наведении */
}

.form-row {
    display: flex;
    align-items: center;
    gap: 20px; /* Добавляем промежуток между элементами */
    margin-bottom: 10px;
}

.form-row > * {
    flex: 1; /* Разделяем пространство поровну между элементами */
}

.form-row label, .form-row input {
    flex-grow: 1; /* Равномерное распределение ширины */
}

.form-row label {
    text-align: right;
    padding-right: 10px; /* Отступ справа от меток */
}

#id_username { /* Идентификатор поля username */
    width: 662px; /* Увеличенная ширина для поля username */
}

#id_username_label {
    text-align: left;
    margin-bottom: 0;
}

form p {
    margin-bottom: 0;
}

/* Оформление верхней инструкции */
.instructions {
    display: flex; /* Контейнер для горизонтального расположения блоков */
    justify-content: center; /* Центрирование блоков по горизонтали */
    gap: 20px; /* Расстояние между кругами */
}

.block {
    display: flex; /* Для центрирования круга внутри блока */
    align-items: center; /* Центрирование круга по вертикали */
}

.circle {
    width: 40px;
    height: 40px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    margin-right: 5px;
}

.info p {
    margin: 0; /* Убираем отступы между параграфами */
}

.main_string {
    font-size: 120%; /* Шрифт заголовка чуть крупнее остальных */
}

.errorlist {
    color: red;
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
}

