.adress-label{
    width: 50%;
}

.save_button{
    border-radius: 5%;
    background-color: #FF8C00;
    border-color: #FF8C00;
    border-width: 1px;
    font-size: 16px;
    color: black;
    margin: 5px;
    font-style: italic;
}

.button-group{
    display: flex;
    align-items: right;
    justify-content: flex-start;
    padding: 10px;
}

.delete-client{
    border-radius: 5%;
    font-size: 16px;
    color: black;
    border-width: 1px;
    background-color: #FF4500;
    border-color: #FF4500;
    margin: 5px;
    font-style: italic;
}

input[type="text"] { /* Увеличенные размеры полей ввода */
    width: 300px; /* Ширина полей */
    padding: 10px; /* Внутренний отступ полей */
    font-size: 16px; /* Размер шрифта в полях */
    border: 1px solid #ccc; /* Тонкая граница серого цвета */
    border-radius: 5px; /* Округлые углы полей */
}

button.save_button, button.delete-client {
    padding: 10px 22px; /* Увеличенные размеры кнопки */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 14px; /* Увеличенный размер текста на кнопке */
}

button.save_button:hover {
    background-color: #FF4500;
}

button.delete-client:hover {
    background-color: #D21400;
}
